* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 100%;
  background-color: #d9dce1;
  width: 100%;
  height: 100%;
}
#start-wrapper {
  position: fixed;
  background: url(../img/bg.jpg) no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#start-wrapper #house {
  position: relative;
  background: url(../img/1200px/house.png) no-repeat top center;
  width: 1200px;
  height: 934px;
  margin: 30px auto;
}
#start-wrapper #house #logo {
  background: url(../img/1200px/logo.png) no-repeat top center;
  width: 1149px;
  height: 246px;
  margin: auto;
}
#start-wrapper #house nav {
  position: absolute;
  top: 437px;
  left: 534px;
  width: 12%;
}
#start-wrapper #house nav ul li {
  font-family: 'Lobster', cursive;
  font-size: 1.9rem;
  font-weight: normal;
  color: #fff;
  list-style: none;
  line-height: 1.6em;
  letter-spacing: .1em;
  text-shadow: .1em .1em 2px #000;
}
#start-wrapper #house nav ul li.alignment_right {
  text-align: right;
}
#start-wrapper #house nav ul li.offset_right {
  margin-right: 2em;
}
#start-wrapper #house #windows_container {
  width: 57%;
  height: 30%;
  margin-top: 211px;
  margin-left: 266px;
  box-sizing: border-box;
}
#start-wrapper #house #windows_container span:after {
  content: ".";
  width: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
#start-wrapper #house #windows_container #window_top_left {
  float: left;
  background: url(../img/1200px/windows/window_top_left.png) no-repeat top center;
  width: 176px;
  height: 178px;
  margin-bottom: 10px;
}
#start-wrapper #house #windows_container #window_top_right {
  float: right;
  background: url(../img/1200px/windows/window_top_right.png) no-repeat top center;
  width: 186px;
  height: 176px;
  margin-bottom: 10px;
}
#start-wrapper #house #windows_container #window_bottom_left {
  float: left;
  background: url(../img/1200px/windows/window_bottom_left.png) no-repeat top center;
  width: 174px;
  height: 196px;
}
#start-wrapper #house #windows_container #window_bottom_right {
  float: right;
  background: url(../img/1200px/windows/window_bottom_right.png) no-repeat top center;
  width: 186px;
  height: 186px;
}
#start-wrapper #house #windows_container .window {
  box-sizing: border-box;
  padding-top: 1.6em;
  text-align: center;
}
#start-wrapper #house #windows_container .window p {
  font-family: 'Playfair Display SC', serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #238e2b;
}
#start-wrapper #house #grasshopper {
  position: absolute;
  top: 87%;
  left: 862px;
  width: 189px;
}
#start-wrapper #house #grass {
  position: absolute;
  top: 82%;
  background: url(../img/1200px/grass.png) no-repeat top center;
  width: 1200px;
  height: 96px;
  margin-top: 84px;
}
#about_us-wrapper .container {
  background-color: #fff;
}
#about_us-wrapper .container .row {
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 1.7rem;
  color: #000;
}
#about_us-wrapper .container .row h1 {
  text-align: center;
}
#about_us-wrapper .container .row:last-child {
  font-style: italic;
  font-size: 1.5rem;
}
#about_us-wrapper .container .row:last-child iframe {
  display: block;
}
.main_container {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.about_us_text {
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 1.7rem;
  color: #000;
}
@-moz-document url-prefix() {
  #house {
    margin-top: 2%;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #house {
    margin-top: 3%;
  }
}
@media (min-width: 1700px) {
  #start-wrapper #house {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-size: contain;
  }
  #start-wrapper #house #windows_container {
    width: 45%;
    height: 53%;
    margin-top: 27%;
    margin-left: 28%;
  }
  #start-wrapper #house #windows_container #window_top_left {
    width: 31%;
    height: 38%;
    background-size: contain;
  }
  #start-wrapper #house #windows_container #window_top_right {
    width: 31%;
    height: 38%;
    background-size: contain;
  }
  #start-wrapper #house #windows_container #window_bottom_left {
    width: 31%;
    height: 38%;
    background-size: contain;
  }
  #start-wrapper #house #windows_container #window_bottom_right {
    width: 31%;
    height: 38%;
    background-size: contain;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  #start-wrapper #house {
    background: url(../img/800px/house.png) no-repeat top center;
    width: 764px;
    height: 721px;
    margin-top: 222px;
  }
  #start-wrapper #house #logo {
    background: url(../img/800px/logo.png) no-repeat top center;
    width: 786px;
    height: 184px;
  }
  #start-wrapper #house nav {
    top: 307px;
    left: 320px;
    width: 19%;
  }
  #start-wrapper #house nav ul li {
    font-size: 1.2rem;
  }
  #start-wrapper #house #windows_container {
    width: 73%;
    margin-top: 157px;
    margin-left: 99px;
  }
  #start-wrapper #house #windows_container #window_top_left {
    float: left;
    background: url(../img/800px/windows/window_top_left.png) no-repeat top center;
    width: 143px;
    height: 144px;
  }
  #start-wrapper #house #windows_container #window_top_right {
    float: right;
    background: url(../img/800px/windows/window_top_right.png) no-repeat top center;
    width: 143px;
    height: 142px;
  }
  #start-wrapper #house #windows_container #window_bottom_left {
    float: left;
    background: url(../img/800px/windows/window_bottom_left.png) no-repeat top center;
    width: 141px;
    height: 159px;
  }
  #start-wrapper #house #windows_container #window_bottom_right {
    float: right;
    background: url(../img/800px/windows/window_bottom_right.png) no-repeat top center;
    width: 149px;
    height: 152px;
  }
  #start-wrapper #house #windows_container .window p {
    font-size: 1.0rem;
  }
  #start-wrapper #house #grass {
    background: url(../img/800px/grass.png) no-repeat top center;
    width: 1014px;
    height: 80px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1025px;
  }
}
