* {
  margin: 0;
  padding: 0;
}
html {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  font-size: 100%;
  background-color: #d9dce1;
  width: 100%;
  height: 100%;
}
#original-table {
  left: 0;
  animation: moveOriginalTable 40s infinite linear;
}
#cloned-table {
  animation: moveClonedTable 80s infinite linear;
}
#start-wrapper {
  position: fixed;
  background: url(../img/bg.jpg) no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0%;
}
#start-wrapper #overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#start-wrapper #overlay:hover #butterfly {
  top: 670px;
  opacity: 1;
}
#start-wrapper #butterfly {
  width: 100%;
  position: absolute;
  top: 700px;
  z-index: 10;
  opacity: 0;
  transition: all 1s ease;
}
#start-wrapper #butterfly img {
  position: absolute;
  width: 250px;
}
#start-wrapper #butterfly img:first-child {
  left: 100px;
}
#start-wrapper #butterfly img:last-child {
  right: 100px;
}
#start-wrapper #house {
  position: relative;
  background: url(../img/1200px/house.png) no-repeat top center;
  width: 1200px;
  height: 934px;
  margin: 30px auto;
}
#start-wrapper #house #logo {
  background: url(../img/1200px/logo.png) no-repeat top center;
  width: 1149px;
  height: 246px;
  margin: auto;
}
#start-wrapper #house nav {
  position: absolute;
  top: 437px;
  left: 534px;
  width: 12%;
}
#start-wrapper #house nav ul li {
  font-family: 'Lobster', cursive;
  font-size: 1.9rem;
  font-weight: normal;
  color: #fff;
  list-style: none;
  line-height: 1.6em;
  letter-spacing: .1em;
  text-shadow: .1em .1em 2px #000;
}
#start-wrapper #house nav ul li.alignment_right {
  text-align: right;
}
#start-wrapper #house nav ul li.offset_right {
  margin-right: 2em;
}
#start-wrapper #house #windows_container {
  width: 57%;
  height: 30%;
  margin-top: 211px;
  margin-left: 266px;
  box-sizing: border-box;
}
#start-wrapper #house #windows_container span:after {
  content: ".";
  width: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
#start-wrapper #house #windows_container #window_top_left {
  float: left;
  background: url(../img/1200px/windows/window_top_left.png) no-repeat top center;
  width: 176px;
  height: 178px;
  margin-bottom: 10px;
}
#start-wrapper #house #windows_container #window_top_right {
  float: right;
  background: url(../img/1200px/windows/window_top_right.png) no-repeat top center;
  width: 186px;
  height: 176px;
  margin-bottom: 10px;
}
#start-wrapper #house #windows_container #window_bottom_left {
  float: left;
  background: url(../img/1200px/windows/window_bottom_left.png) no-repeat top center;
  width: 174px;
  height: 196px;
}
#start-wrapper #house #windows_container #window_bottom_right {
  float: right;
  background: url(../img/1200px/windows/window_bottom_right.png) no-repeat top center;
  width: 186px;
  height: 186px;
}
#start-wrapper #house #windows_container .window {
  box-sizing: border-box;
  padding-top: 1.6em;
  text-align: center;
}
#start-wrapper #house #windows_container .window p {
  font-family: 'Playfair Display SC', serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #238e2b;
}
#start-wrapper #house #grasshopper {
  position: absolute;
  top: 87%;
  right: 100px;
}
#start-wrapper #house #grasshopper #eyes {
  opacity: 0;
  animation: grasshopperEyesBlink 6s infinite;
  position: absolute;
  top: 40%;
  left: 51px;
}
#start-wrapper #house #grasshopper #eyes #right_eye {
  margin-left: 2px;
}
#start-wrapper #house #grass {
  position: absolute;
  top: 82%;
  background: url(../img/1200px/grass.png) no-repeat top center;
  width: 1200px;
  height: 96px;
  margin-top: 84px;
}
#second-menu {
  width: 100%;
  height: 50px;
  background-color: #d9dce1;
  position: fixed;
  z-index: 4;
  top: 0%;
  opacity: 0;
  transition: opacity 2s;
  text-align: center;
}
#second-menu li {
  list-style: none;
}
#second-menu li ul {
  display: inline-block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.9rem;
  color: #5A84BF;
  margin-right: 3em;
}
#second-menu li ul a:link,
#second-menu li ul a:visited {
  color: #5A84BF;
}
#second-menu li ul a:focus {
  color: red;
}
#second-menu li ul a:hover {
  color: #5A84BF;
}
.main-container {
  position: relative;
  width: 100%;
  background-color: #fff;
  top: 100%;
}
#about_us-wrapper {
  height: 60%;
}
#about_us-wrapper .container .row h1 {
  text-align: center;
}
#news {
  background-color: #F39F01;
}
#news h1 {
  color: #fff;
}
#news .news-list {
  margin-top: 20px;
  list-style: none;
  color: #fff;
  font-size: 1.6rem;
}
#gallery {
  overflow: hidden;
  background-color: #fff;
  height: 60%;
  padding-top: 22px;
}
@-webkit-keyframes grasshopperEyesBlink {
  0%,
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes grasshopperEyesBlink {
  0%,
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scaleGalleryImg {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes preloadCounter {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-moz-keyframes preloadCounter {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-ms-keyframes preloadCounter {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-moz-document url-prefix() {
  #house {
    margin-top: 2%;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #house {
    margin-top: 3%;
  }
}
@media (min-width: 1700px) {
  #start-wrapper #house {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-size: contain;
  }
  #start-wrapper #house #windows_container {
    width: 45%;
    height: 53%;
    margin-top: 27%;
    margin-left: 28%;
  }
  #start-wrapper #house #windows_container #window_top_left {
    width: 31%;
    height: 38%;
    background-size: contain;
  }
  #start-wrapper #house #windows_container #window_top_right {
    width: 31%;
    height: 38%;
    background-size: contain;
  }
  #start-wrapper #house #windows_container #window_bottom_left {
    width: 31%;
    height: 38%;
    background-size: contain;
  }
  #start-wrapper #house #windows_container #window_bottom_right {
    width: 31%;
    height: 38%;
    background-size: contain;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1025px;
  }
  #grass {
    top: 80%;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  #start-wrapper #house {
    background: url(../img/800px/house.png) no-repeat top center;
    width: 764px;
    height: 721px;
    margin-top: 222px;
  }
  #start-wrapper #house #logo {
    background: url(../img/800px/logo.png) no-repeat top center;
    width: 786px;
    height: 184px;
  }
  #start-wrapper #house nav {
    top: 307px;
    left: 320px;
    width: 19%;
  }
  #start-wrapper #house nav ul li {
    font-size: 1.2rem;
  }
  #start-wrapper #house #windows_container {
    width: 73%;
    margin-top: 157px;
    margin-left: 99px;
  }
  #start-wrapper #house #windows_container #window_top_left {
    float: left;
    background: url(../img/800px/windows/window_top_left.png) no-repeat top center;
    width: 143px;
    height: 144px;
  }
  #start-wrapper #house #windows_container #window_top_right {
    float: right;
    background: url(../img/800px/windows/window_top_right.png) no-repeat top center;
    width: 143px;
    height: 142px;
  }
  #start-wrapper #house #windows_container #window_bottom_left {
    float: left;
    background: url(../img/800px/windows/window_bottom_left.png) no-repeat top center;
    width: 141px;
    height: 159px;
  }
  #start-wrapper #house #windows_container #window_bottom_right {
    float: right;
    background: url(../img/800px/windows/window_bottom_right.png) no-repeat top center;
    width: 149px;
    height: 152px;
  }
  #start-wrapper #house #windows_container .window p {
    font-size: 1.0rem;
  }
  #start-wrapper #house #grass {
    background: url(../img/800px/grass.png) no-repeat top center;
    width: 1014px;
    height: 80px;
    top: 78%;
  }
}
@media (max-width: 991px) {
  #start-wrapper {
    background: url('../img/bg_mobile.jpg') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 60%;
    position: static;
  }
  #start-wrapper #overlay {
    display: none;
  }
  #start-wrapper #house {
    display: none;
  }
  #start-wrapper #house #logo {
    display: none;
  }
  #start-wrapper #house nav {
    display: none;
  }
  #start-wrapper #house #grasshopper {
    display: none;
  }
  #start-wrapper #house #grass {
    display: none;
  }
  #start-wrapper #windows_container {
    display: none;
  }
  #second-menu {
    display: none;
  }
  .main-container {
    top: 0;
  }
}
@media (min-width: 485px) and (max-width: 672px) {
  #start-wrapper {
    height: 42%;
  }
}
@media (max-width: 484px) {
  #start-wrapper {
    height: 28%;
  }
}
#preloader {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #cbcaca;
  animation: preloadCounter 5s forwards;
}
#preloader .counter {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  border: 2px solid red;
  text-align: center;
}
#preloader .counter span {
  /*      font-size: 20rem;
      font-weight: bold;*/
  margin-top: 15%;
  opacity: 0;
}
#original-table,
#cloned-table {
  position: absolute;
  z-index: 1;
  float: left;
  transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
#original-table tr,
#cloned-table tr {
  width: 270px;
  display: inline-block;
  vertical-align: top;
}
#original-table tr td,
#cloned-table tr td {
  width: 270px;
  height: 181px;
  display: block;
  border: 1px solid white;
  overflow: hidden;
}
#original-table tr td img,
#cloned-table tr td img {
  width: 310px;
}
#image-preview-layer {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, 0.7);
  display: none;
  text-align: center;
}
#image-preview-layer img {
  animation: scaleGalleryImg  2s;
}
#contact {
  background-color: #ffffff;
  padding-top: 20px;
}
#contact .row {
  margin-right: 0;
  margin-left: 0;
}
#contact h1 {
  text-align: center;
}
#contact .form-horizontal {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ffffff;
}
#contact .form-horizontal .form-group {
  margin-bottom: 4em;
}
#contact .form-horizontal input,
#contact .form-horizontal textarea,
#contact .form-horizontal button {
  border-color: #B4454B;
}
#contact .form-horizontal button {
  margin-top: 1em;
  color: #B4454B;
}
#contact #schedule {
  background-color: #434343;
  margin-top: 4em;
  color: #fff;
}
#contact #schedule .dashed {
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: 2px dashed #eeffff;
  font-size: 1.6rem;
}
