#preloader {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(203,202,202,1);
  animation: preloadCounter 5s forwards;

  .counter {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    border: 2px solid red;
    text-align: center;

    span {
/*      font-size: 20rem;
      font-weight: bold;*/
      margin-top: 15%;
      opacity: 0;
    }
  }
}

#original-table, #cloned-table  {
  position: absolute;
  z-index: 1;
  float:left;
  transform: translateZ(0);//this property activates GPU acceleration
  -ms-transform: translateZ(0);//this property activates GPU acceleration
  -webkit-transform: translateZ(0);//this property activates GPU acceleration
  tr {
    width: 270px;
    display: inline-block;
    vertical-align: top;

    td {
      width: 270px;
      height: 181px;
      display: block;
      border: 1px solid white;
      overflow: hidden;
      img {
        width: 310px;
        //height: 205px;
      }
    }
  }
}
#image-preview-layer {
  position:absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(4,4,4,0.7);
  display:none;
  text-align: center;

  img {
    animation: scaleGalleryImg  2s;
  }
}