#start-wrapper {
  //display: none;
  position: fixed;
  background: url(../img/bg.jpg) no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100%;

  #house {
    position: relative;
    background: url(../img/1200px/house.png) no-repeat top center;
    width: 1200px;
    height: 934px;
    margin: 30px auto;

    #logo {
      background: url(../img/1200px/logo.png) no-repeat top center;
      width: 1149px;
      height: 246px;
      margin: auto;
    }

    nav {
      position: absolute;
      top: 437px;
      left: 534px;
      width: 12%;

      ul {
        li {
          font-family: 'Lobster', cursive;
          font-size: 1.9rem;
          font-weight: normal;
          color: #fff;
          list-style: none;
          line-height: 1.6em;
          letter-spacing: .1em;
          text-shadow: .1em .1em 2px #000;
        }

        li.alignment_right {
          text-align: right;
        }

        li.offset_right {
          margin-right: 2em;
        }
      }
    }

    #windows_container {
      //display: none;
      width: 57%;
      height: 30%;
      //border: 2px solid black;
      margin-top: 211px;
      margin-left: 266px;
      box-sizing: border-box;

      span {
        .clearfix();
      }

      #window_top_left {
        float: left;
        background: url(../img/1200px/windows/window_top_left.png) no-repeat top center;
        width: 176px;
        height: 178px;
        margin-bottom: 10px;
      }

      #window_top_right {
        float: right;
        background: url(../img/1200px/windows/window_top_right.png) no-repeat top center;
        width: 186px;
        height: 176px;
        margin-bottom: 10px;
      }

      #window_bottom_left {
        float: left;
        background: url(../img/1200px/windows/window_bottom_left.png) no-repeat top center;
        width: 174px;
        height: 196px;
      }

      #window_bottom_right {
        float: right;
        background: url(../img/1200px/windows/window_bottom_right.png) no-repeat top center;
        width: 186px;
        height: 186px;
      }

      .window {
        box-sizing: border-box;
        padding-top: 1.6em;
        text-align: center;
        p {
          font-family: 'Playfair Display SC', serif;
          font-size: 1.6rem;
          font-weight: 700;
          color: #238e2b;
        }
      }
    }


    #grass {
      background: url(../img/1200px/grass.png) no-repeat top center;
      width: 1200px;
      height: 96px;
      margin-top: 84px;
    }
  }
}

#about_us-wrapper {
  .container {
    background-color: #fff;
    .row {
      h1{
        text-align: center;
      }
      .about_us_text;
      &:last-child {
        iframe {
          display: block;
        }
        font-style: italic;
        font-size: 1.5rem;
      }
    }
  }
}

.main_container {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  //box-sizing: border-box;
  background-color: #fff;
}