.clearfix() {
  &:after {
    content: ".";
    width: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    display: block;
    clear: both;
  }
}

//Animation Grasshooper blinzelt mit den Augen
@-webkit-keyframes grasshopperEyesBlink {
  .eyesBlink();
}

@keyframes grasshopperEyesBlink {
  .eyesBlink();
}

.eyesBlink() {
  0%, 80% {
    opacity: 0;
  }

  85% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scaleGalleryImg {
  from {
    transform: scale(0,0);
  }

  to {
    transform: scale(1,1);
  }
}

@keyframes preloadCounter {
  .counter();
}

@-moz-keyframes preloadCounter {
  .counter();
}

@-ms-keyframes preloadCounter {
  .counter();
}

.counter() {
  from {
    opacity: 1;
    //font-size: 0rem;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}
