.clearfix() {
  &:after {
    content: ".";
    width: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    display: block;
    clear: both;
  }
}

.about_us_text {
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 1.7rem;
  color: #fff;
}